body {
    font-family: 'pistol', Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/startscreen/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
}

.full-btn {
    cursor: pointer;
}

.full-btn:hover {
    height: 45px !important;
}

.mobile-button {
    display: none;
}

.mobile-screen-container {
    display: none;
}

.logo {
    margin-top: 16px;
}

.mobile img {
    height: 50px;
    padding-right: 8px;
}

.mobile span,
.desktop span {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 5px 20px;
}

.keys {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: #994409;
    font-size: 25px;
    font-family: cursive;
    width: 830px;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(244 147 78);
    margin-top: 10px;
    

}

.keys span {
    display: flex;
    align-items: center;
}

canvas {
    background-color: black;
    display: block;
    
    box-shadow: 0 0 25px rgb(0 0 0);
}

.button-style-fullscreen-main-menu {
    height: 70px !important;
    width: 200px !important;
}

.button-style-fullscreen-main-menu:hover {
    height: 75px !important;
}

.button-style-fullscreen {
    margin-top: 850px !important;
    height: 70px !important;
    width: 200px !important;
}

.button-style-fullscreen:hover {
    height: 75px !important;
}

.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}

.d-none {
    display: none !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg)
    }

    100% {
        transform: rotate(-90deg)
    }
}

#start-screen-container {
    width: 820px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    
    box-shadow: 0 0 25px rgb(0 0 0);
}


#start-screen-container button {
    font-family: cursive;
    margin-top: 23px;
    height: 60px;
    width: 160px;
    border-style: unset;
    border: 3px solid #ca4c1e;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 51px rgb(208 224 232);
    background: rgb(255, 198, 33);
    background: linear-gradient(180deg, rgba(255, 198, 33, 1) 0%, rgba(255, 220, 0, 1) 50%, rgba(255, 160, 0, 1) 100%);
    color: black;
    font-size: 32px;
    transition: 0.1s;
}

#start-screen-container button:hover {
    height: 55px;
}

#start-screen-container img {
    height: 50px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

#start-screen-container img:hover {
    height: 55px;
}






#story-container {
    width: 820px;
    height: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-icon-container {
    position: absolute;
    top: 5px;
    right: 5px;
}

.close-icon {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.close-icon:hover {
    background-color: rgb(216, 146, 16);
}

.close-icon:after {
    content: '';
    height: 60px;
    border-left: 3px solid black;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.close-icon:before {
    content: '';
    height: 60px;
    border-left: 3px solid black;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}

#story-container p {
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    padding: 16px;
}

#controls-container {
    width: 820px;
    height: 480px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#controls-container h3 {
    font-size: 44px;
    letter-spacing: 5px;
    margin-top: 50px;
    text-decoration: underline;
}

.control-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
}

.move-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.move-right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.controls-img-height {
    height: 70px;

}

.space-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.space-container-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.space-container-left img {
    height: 70px;
    margin-right: -10px;
}

.space-container-left span {
    margin-top: 5px;
}

.vertikal-line {
    width: 5px;
    height: 65px;
    background-color: black;
}

.throw-bottle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.throw-bottle-container-left {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.throw-bottle-container-left img {
    height: 60px;
}

.throw-bottle-container-left span {
    margin-top: 5px;
}

.font-size-40px {
    font-size: 40px;
    letter-spacing: 2px;
}

#you-lost-container {
    font-family: cursive;
    width: 820px;
    height: 480px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url('img/startscreen/game\ over.png');
    background-position: center;
    background-size: contain;
}

.numbers {
    font-family: cursive;
}

.collected-items-bottles-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collected-items-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}



.collected-items-container span {
    font-size: 28px;
    letter-spacing: 1px;
}

.collected-item-flexbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.you-lost-button-container {
    display: flex;
    justify-content: center;
    bottom: 0px;
}

#you-lost-container button {
    font-family: cursive;
    margin: 8px;
    letter-spacing: 1px;
    margin-top: 300px;
    height: 50px;
    width: 150px;
    border-style: unset;
    border: 3px solid #ca4c1e;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255, 198, 33);
    background: linear-gradient(180deg, rgba(255, 198, 33, 1) 0%, rgba(255, 220, 0, 1) 50%, rgba(255, 160, 0, 1) 100%);
    color: black;
    font-size: 24px;
    transition: 0.1s;
}

#you-lost-container button:hover {
    height: 55px;
}

#hints-container {
    width: 820px;
    height: 480px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#hints-container h3 {
    font-size: 44px;
    letter-spacing: 5px;
    margin-top: 50px;
    text-decoration: underline;
}

.hints-container-span {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
}

#you-win-container {
    width: 820px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-image: url('img/startscreen/winner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}

#you-win-container button {
    font-family: 'pistol', Arial, Helvetica, sans-serif !important;
    letter-spacing: 1px;
    margin-top: 300px;
    height: 50px;
    width: 150px;
    border-style: unset;
    border: 3px solid #ca4c1e;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255, 198, 33);
    background: linear-gradient(180deg, rgba(255, 198, 33, 1) 0%, rgba(255, 220, 0, 1) 50%, rgba(255, 160, 0, 1) 100%);
    color: black;
    font-size: 24px;
    transition: 0.1s;
    margin: 8px;
}

#you-win-container button:hover {
    height: 55px;
}

#canvas-container {
    position: relative;
}

#sound-on-img {
    height: 50px;
    position: absolute;
    top: 20px;
    right: 23px;
    cursor: pointer;
}

#sound-off-img {
    height: 50px;
    position: absolute;
    top: 20px;
    right: 23px;
    cursor: pointer;
}

#controller-img {
    height: 25px;
    position: absolute;
    top: 13px;
    right: 60px;
    cursor: pointer;
}

#controls-ingame {
    display: flex;
    position: absolute;
    top: 10px;
    right: 60px;
    gap: 20px;
}

#controls-ingame img {
    height: 30px;
}

.center-items {
    display: flex;
    gap: 10px;
    align-items: center;
}

.center-items span {
    font-size: 24px;
}

#mobile-btns {
    display: none;
}


#mobile-btns img {
    height: 50px;
}

.mobile-btns-left {
    position: absolute;
    bottom: 1px;
    left: 10px;
}

.mobile-btns-right {
    position: absolute;
    bottom: 1px;
    right: 10px;
}

#controls-ingame-mobile {
    display: none;
    position: absolute;
    top: 10px;
    right: 60px;
    gap: 20px;
}

#controls-ingame-mobile img {
    height: 30px;
}

.message {
    display: none;
}

/* Smartphones */

@media only screen and (max-width: 820px) {
    canvas {
        width: 100%;
    }

}

@media only screen and (max-width: 1200px) {

    #controls-ingame {
        display: none;
    }

    #sound-on-img {
        height: 30px;
    }

    #sound-off-img {
        height: 30px;
    }


    .btn-start {
        top: 100px;
    }

    .mobile-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .keys {
        display: none !important;
    }

    #controls-ingame-mobile {
        display: flex !important;
    }

    #mobile-btns {
        display: block;
    }

    #enter-fullscreen-img {
        display: none;
    }

    #start-screen-container {
        width: 100vw;
        height: 100vh;
    }

    #loading-animation-container {
        width: 100vw;
        height: 100vh;
    }

    #story-container {
        width: 100vw;
        height: 100vh;
    }

    #controls-container {
        width: 100vw;
        height: 100vh;
    }

    #controls-container h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #you-lost-container {
        width: 100vw;
        height: 100vh;
    }

    #you-lost-container button {
        margin-top: 225px;
    }

    #hints-container {
        width: 100vw;
        height: 100vh;
    }

    #hints-container h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hints-container-span {
        margin-top: 30px;
        text-align: center;
    }

    #you-win-container {
        width: 100vw;
        height: 100vh;
    }

    #you-win-container button {
        margin-top: 225px;
    }

    #canvas {
        width: 100vw;
    }

    #canvas-container {
        width: 100vw;
        height: 100vh;
    }

    .message {
        text-align: center;
    }

    #loading-animation-container {
        background-position: center;
    }

    .loading-animation {
        margin-top: 140px;
        margin-right: 30px;
    }

}

@media only screen and (max-width: 800px) {

    .mobile-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sound-on-img {
        height: 30px;
    }

    #sound-off-img {
        height: 30px;
    }

    .btn-start {
        margin: 16px;
    }

    .keys {
        display: none;
    }


    .mobile-screen h4 {
        color: red;
        font-size: 36px;
    }

    .mobile-screen p {
        color: white;
        text-align: center;
        margin-top: 36px;
    }

    .mobile-screen-container img {
        width: 200px;
        height: 130px;
        border-radius: 15px;
        object-fit: cover;
    }
}

#hints-container h3 {
    font-size: 40px;
}

.hints-container-span {
    margin-top: 50px;
    font-size: 28px;
    gap: 30px;
}

#you-lost-container button {
    margin-top: 190px;
}

#you-win-container button {
    margin-top: 190px;
}

.loading-animation {
    margin-top: 120px;
}

#story-container p {
    font-size: 28px;
    margin-top: 50px;
}

#controls-container h3 {
    font-size: 40px;

}

.controls-img-height {
    height: 50px;
}

.space-container-left img {
    height: 50px;
}

.throw-bottle-container-left img {
    height: 40px;
}

.vertikal-line {
    height: 50px;
}

.font-size-40px {
    font-size: 32px;
}

.control-container {

    width: 225px;
}

#mobile-btns img {
    height: 40px;
}

.mobile-btns-left {
    position: absolute;
    left: 10px;
}

.mobile-btns-right {
    position: absolute;
    right: 10px;
}

@media only screen and (max-height: 520px) {

    canvas {
        height: 100%;
    }

    .keys {
        display: none;
    }

    #mobile-btns {
        display: block;
    }

    #controls-ingame {
        display: none;
    }

    #controls-ingame-mobile {
        display: flex !important;
    }

}

@media only screen and (max-width: 660px) {

    .keys {
        display: none;
    }

    .mobile-screen {
        z-index: 100;
        position: absolute;
        background-color: #ffd800;
        height: 667px;
        
        display: flex;
        justify-content: center;
    }

    .mobile-screen-container {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .mobile-screen h4 {
        color: red;
        font-size: 36px;
    }

    .mobile-screen p {
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 36px;
    }

    .mobile-screen-container img {
        width: 155px;
        height: 130px;
        border-radius: 15px;
        object-fit: cover;
    }

    .rotate-your-device {
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phone {
        background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
        background-size: contain;
        height: 150px;
        width: 300px;
        border: 3px solid black;
        border-radius: 10px;
        animation: rotate 1.5s ease-in-out infinite alternate;

    }

    .message {
        letter-spacing: 2px;
        display: block;
        color: black;
        font-size: 44px;
        margin-top: 100px;
    }
}